* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
/* /////////////////////////////////// */
body {
  background-image: url();
  background-size: auto 1fr;
}
#root {
  display: grid;
  grid-template-columns: auto 1fr;
}
/* ////////////////////////////////// */
a {
  text-decoration: none;
}
#cpanel {
  display: grid;
  grid-template-rows: 150px auto 150px;
}
h3 {
  margin: 0;
  padding: 0;
}
