* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(35, 35, 46);
  color: rgb(214, 207, 207);
}
.cantiner {
  width: 80%;
  position: absolute;
  left: 130px;
}
.yek {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}
.yek-left {
  width: 50%;
  height: 250px;
  margin: 15px;
  /* padding: 15px; */
  /* background-color: rgb(79, 79, 95); */
}
.yek-left h2 {
  font-size: 30px;
}
.yek-left p {
  font-size: 18px;
  margin-top: 20px;
}
.yek-left div {
  width: 450px;
  display: flex;
  margin-top: 20px;
}
.yek-left div button {
  width: 30%;
  font-size: 15px;
  padding: 3px;
}
.yek-left div p {
  width: 70%;
  align-content: center;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 0;
}
.yek-right {
  width: 50%;
  height: 250px;
  margin: 15px;
  /* background-color: rgb(79, 79, 95); */
}
.yek-right .divtoleft {
  position: relative;
  left: 213px;
}
.yek-right .btn1 {
  position: relative;
  left: -100px;
  padding: 7px;
  font-size: 18px;
  margin-bottom: -40px;
}
.yek-right .btn2 {
  padding: 7px;
  position: relative;
  left: 100px;
  font-size: 18px;
  margin-top: -50px;
}
.yek-right .star1 {
  position: relative;
  left: 190px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: aliceblue;
  margin-bottom: -20px;
}
.yek-right .star2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: aliceblue;
  margin-top: -20px;
}
.yek-right .divimg {
  width: 220px;
  height: 220px;
  background-color: rgb(57, 57, 107);
  text-align: center;
  padding-top: 90px;
  font-size: 18px;
}
/* ///////////////////قسمت دوم /////////////////// */
.doo {
  margin-top: 150px;
  display: flex;
}
.doo .doo-a {
  width: 30%;
  margin: 20px;
  order: 1;
  border: 1px solid rgb(36, 36, 82);
  border-radius: 10px;
  padding: 20px;
}
.doo .doo-a img {
  border-radius: 50%;
  background-color: rgb(36, 36, 82);
}
.doo .doo-a img,
h3,
p {
  margin-bottom: 10px;
}
/* //////////قسمت سوم //////////////// */
.tree {
  margin-top: 100px;
  display: flex;
}
.tree .tree-left {
  margin-right: 40px;
  width: 45%;
  height: 350px;
}
.tree .tree-right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 100px;
  width: 45%;
  height: 350px;
  background-color: rgb(37, 37, 77);
  border-radius: 10px;
}
.tree-left div {
  display: flex;
  margin-bottom: 15px;
}

.tree-left div img {
  margin-right: 10px;
  border-radius: 50px;
}

/* /////////////////////////////////////////////// */
.foor {
  margin-top: 150px;
  display: flex;
}

.foor-l {
  width: 45%;
  height: 350px;
  background-color: rgb(37, 37, 77);
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foor-r {
  width: 40%;
  margin-left: 100px;
}

.foor-r div {
  display: flex;
  margin-bottom: 15px;
}

.foor-r div img {
  border-radius: 50%;
  margin-right: 10px;
}
hr {
  margin: 70px;
  color: rgb(50, 50, 124);
  width: 400px;
  height: 5px;
  position: relative;
  left: 230px;
}
/* ////////////////////////////////////////////// */
.five {
  display: flex;
}
.five-a img {
  border-radius: 50%;
  padding: 3px;
}
/* ////////////////////////////////////////// */
.six {
  text-align: center;
}
.six .six-a {
  width: 600px;
  position: relative;
  left: 220px;
  font-size: 18px;
  line-height: 25px;
}
.six-a button {
  width: 600px;
  padding: 15px;
  margin: 5px;
  background-color: rgba(51, 51, 126, 0.664);
  border: none;
  border-radius: 10px;
  color: rgb(182, 172, 172);
  text-align: center;
  font-size: 18px;
}
/* ///////////////////////////////////////////////////// */
.seven {
  display: flex;
}
.seven-left {
  width: 40%;
  height: 390px;
  background-color: rgb(43, 43, 95);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.seven-right {
  width: 60%;
  margin: 30px;
  font-size: 18px;
  line-height: 30px;
}
/* //////////////////////////////////////////////////////////// */
.eite-right {
  position: relative;
  left: 200px;
  width: 250px;
  height: 350px;
  background-color: rgb(43, 43, 66);
  border-radius: 15px;
  border-top: 2px solid blue;
}
.eite-right button {
  width: 100%;
  padding: 30px;
  margin-top: 267px;
  border-radius: 15px;
  background-color: rgb(76, 76, 121);
}
